@model ChangePasswordViewModel

<form name="password" method="post" asp-controller="Settings" asp-action="ChangePassword" class="settings-item settings-form d-none">
    <span class="mb-1">Current password</span>
    <input type="password" class="text-input mb-1" asp-for="CurrentPassword">
    <span class="settings-validation mb-2" asp-validation-for="CurrentPassword"></span>
    <span class="mb-1">New password</span>
    <input type="password" class="text-input mb-1" asp-for="NewPassword">
    <span class="settings-validation mb-2" asp-validation-for="NewPassword"></span>
    <span class="mb-1">Retype new password</span>
    <input type="password" class="text-input mb-1" asp-for="ConfirmNewPassword">
    <span class="settings-validation mb-2" asp-validation-for="ConfirmNewPassword"></span>
    <div class="controls">
        <input type="submit" class="btn btn-light me-2" value="Change password">
        <button class="btn btn-outline-secondary settings-item-close">Cancel</button>
    </div>
</form>