@model ChangeEmailViewModel

<form name="email" class="settings-item settings-form d-none" method="post" asp-controller="Settings" asp-action="ChangeEmail" >
    <span class="mb-1">New email</span>
    <input type="text" class="text-input mb-1" asp-for="NewEmail">
    <span class="settings-validation mb-2" asp-validation-for="NewEmail"></span>
    <div class="controls">
        <input type="submit" class="btn btn-light me-2" value="Change email">
        <button class="btn btn-outline-secondary settings-item-close">Cancel</button>
    </div>
</form>