<header>
    <div class="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-3 logo-wrapper">
                    <a asp-controller="Posts" asp-action="Index" asp-area="">
                        <img src="~/Images/logo.svg" class="logo" alt="">
                    </a>
                </div>
                <div class="col-sm-6 header-links order-1 order-sm-0 mt-sm-0 mt-2">
                    <nav>
                        <ul class="nav">
                            <li class="nav-item elem-backlight">
                                <a class="nav-link" asp-controller="Posts" asp-action="Index" asp-area="">
                                    <i class="fa-brands fa-hotjar me-1"></i>
                                    <span>Top</span>
                                </a>
                            </li>
                            <li class="nav-item elem-backlight">
                                <a class="nav-link" asp-controller="Posts" asp-action="New" asp-area="">
                                    <i class="fa-solid fa-clock me-1"></i>
                                    <span>New</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col col-sm-3 d-flex justify-content-end align-items-center">
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </div>
    </div>
</header>